html, body {
    background-image: url("http://cs-server.usc.edu:45678/hw/hw8/images/background.png");
    background-repeat: repeat;
    background-size: cover;
    font-family: Times;
    font-weight: bolder;
}

.grey-button {
    border:1px solid #919191; border-radius: 3px;font-family:arial, helvetica, sans-serif; padding: 5px; text-decoration:none; display:inline-block; color: #919191;
    background-color: #f4f5f5; background-image: -webkit-gradient(linear, left top, left bottom, from(#f4f5f5), to(#dfdddd));
    background-image: -webkit-linear-gradient(top, #f4f5f5, #dfdddd);
    background-image: -moz-linear-gradient(top, #f4f5f5, #dfdddd);
    background-image: -ms-linear-gradient(top, #f4f5f5, #dfdddd);
    background-image: -o-linear-gradient(top, #f4f5f5, #dfdddd);
    background-image: linear-gradient(to bottom, #f4f5f5, #dfdddd);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#f4f5f5, endColorstr=#dfdddd);
}

.grey-button:hover {
    border:1px solid #919191; border-radius: 3px;font-family:arial, helvetica, sans-serif; padding: 5px; text-decoration:none; display:inline-block; color: #919191;
    background-color: #d9dddd; background-image: -webkit-gradient(linear, left top, left bottom, from(#d9dddd), to(#c6c3c3));
    background-image: -webkit-linear-gradient(top, #d9dddd, #c6c3c3);
    background-image: -moz-linear-gradient(top, #d9dddd, #c6c3c3);
    background-image: -ms-linear-gradient(top, #d9dddd, #c6c3c3);
    background-image: -o-linear-gradient(top, #d9dddd, #c6c3c3);
    background-image: linear-gradient(to bottom, #d9dddd, #c6c3c3);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#d9dddd, endColorstr=#c6c3c3);
}


#input-div,#test-div, #detail-info   {
    border-radius: 5px;
    background-color: white;
}

#favorite-list  {
    border-radius: 5px;
    background-color: white;
}


#favorite-table > thead {
    background-color: #f5f5f5;
}

#favorite-table > tbody > tr:nth-child(2n) > td {
    background-color: #f5f5f5;
}

.highcharts-container {
    width:100% !important;
    /*height:100% !important;*/
}

/***slide****/
/* ngSwitch animation */
.switchItemRelative {
    position: relative;

    /*height: 500px;*/
    /*width:500px;*/
    /*overflow: hidden;*/

}

.switchItem {
    position: absolute;
    /*width: 100%;*/

    display: block;
}
.switchItem2 {
    position: absolute;
    /*width: 100%;*/

    display: block;
}
/*The transition is added when the switch item is about to enter or about to leave DOM*/
.switchItem.ng-enter,
.switchItem.ng-leave {
    -webkit-transition: 300ms linear all;
    -moz-transition: 300ms linear all;
    -ms-transition: 300ms linear all;
    -o-transition: 300ms linear all;
    transition: 300ms linear all;
}

/* When the element is about to enter DOM*/
.switchItem.ng-enter {
    right: 100%;
}

/* When the element completes the enter transition */
.switchItem.ng-enter-active {
    right: 0;
}
/* When the element is about to leave DOM*/
.switchItem.ng-leave {
    right: 0;
}
/*When the element end the leave transition*/
.switchItem.ng-leave-active {
    right: 100%;
}


/*The transition is added when the switch item is about to enter or about to leave DOM*/
.switchItem2.ng-enter,
.switchItem2.ng-leave {
    -webkit-transition: 300ms linear all;
    -moz-transition: 300ms linear all;
    -ms-transition: 300ms linear all;
    -o-transition: 300ms linear all;
    transition: 300ms linear all;
}

/* When the element is about to enter DOM*/
.switchItem2.ng-enter {
    right: -100%;
}

/* When the element completes the enter transition */
.switchItem2.ng-enter-active {
    right: 0;
}
/* When the element is about to leave DOM*/
.switchItem2.ng-leave {
    right: 0;
}
/*When the element end the leave transition*/
.switchItem2.ng-leave-active {
    right: -100%;
}
/***end of slide***/

select #favorite-table-body {
    font-weight: normal;
}
/*select[disabled]{*/
    /*background-color: #d1d1d1;*/
/*}*/

