body {
    background: url("http://cs-server.usc.edu:45678/hw/hw8/images/background.png");
    font-family: Times;
    font-weight: bolder;
}



#input-div,#test-div, #detail-info   {
    border-radius: 5px;
    background-color: white;
}

#favorite-list  {
    border-radius: 5px;
    background-color: white;
}


#favorite-table > thead {
    background-color: #f5f5f5;
}

#favorite-table > tbody > tr:nth-child(2n) > td {
    background-color: #f5f5f5;
}


/*.col-md-12.col-xs-12.col-sm-12 {*/
    /*border-radius: 5px;*/
    /*background-color: white;*/
/*}*/


