/* ngSwitch animation */
.switchItemRelative {
    position: relative;
    height: 100%;
    width:100%;
    overflow: hidden;
}

.switchItem {
    position: absolute;
    width: 100%;

    display: block;
}
/*The transition is added when the switch item is about to enter or about to leave DOM*/
.switchItem.ng-enter,
.switchItem.ng-leave {
    -webkit-transition: 1000ms linear all;
    -moz-transition: 1000ms linear all;
    -ms-transition: 1000ms linear all;
    -o-transition: 1000ms linear all;
    transition: 1000ms linear all;
}

/* When the element is about to enter DOM*/
.switchItem.ng-enter {
    right: 100%;
}

/* When the element completes the enter transition */
.switchItem.ng-enter-active {
    right: 0;
}
/* When the element is about to leave DOM*/
.switchItem.ng-leave {
    right: 0;
}
/*When the element end the leave transition*/
.switchItem.ng-leave-active {
    right: 100%;
}

.switchItem2 {
    position: absolute;
    width: 100%;

    display: block;
}
/*The transition is added when the switch item is about to enter or about to leave DOM*/
.switchItem2.ng-enter,
.switchItem2.ng-leave {
    -webkit-transition: 1000ms linear all;
    -moz-transition: 1000ms linear all;
    -ms-transition: 1000ms linear all;
    -o-transition: 1000ms linear all;
    transition: 1000ms linear all;
}

/* When the element is about to enter DOM*/
.switchItem2.ng-enter {
    right: -100%;
}

/* When the element completes the enter transition */
.switchItem2.ng-enter-active {
    right: 0;
}
/* When the element is about to leave DOM*/
.switchItem2.ng-leave {
    right: 0;
}
/*When the element end the leave transition*/
.switchItem2.ng-leave-active {
    right: -100%;
}